<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

<head>
  <title><%= title %></title>
  <script type='text/javascript' src='https://cdn.yodlee.com/fastlink/v1/initialize.js'></script>
  <style>
    body {
      margin: 0;
    }

    .spinner-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    .container-fastlink {
      z-index: 9999;
    }

    .ispinner {
      position: relative;
      width: 20px;
      height: 20px;
      z-index: 1;
    }

    .ispinner .ispinner__blade {
      position: absolute;
      left: 44.5%;
      top: 37%;
      width: 10%;
      height: 25%;
      border-radius: 50%/20%;
      -webkit-animation: iSpinnerBlade 1s linear infinite;
      animation: iSpinnerBlade 1s linear infinite;
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
    }

    .ispinner .ispinner__blade:nth-child(1) {
      -webkit-animation-delay: -1.6666666667s;
      animation-delay: -1.6666666667s;
      -webkit-transform: rotate(30deg) translate(0, -150%);
      transform: rotate(30deg) translate(0, -150%);
    }

    .ispinner .ispinner__blade:nth-child(2) {
      -webkit-animation-delay: -1.5833333333s;
      animation-delay: -1.5833333333s;
      -webkit-transform: rotate(60deg) translate(0, -150%);
      transform: rotate(60deg) translate(0, -150%);
    }

    .ispinner .ispinner__blade:nth-child(3) {
      -webkit-animation-delay: -1.5s;
      animation-delay: -1.5s;
      -webkit-transform: rotate(90deg) translate(0, -150%);
      transform: rotate(90deg) translate(0, -150%);
    }

    .ispinner .ispinner__blade:nth-child(4) {
      -webkit-animation-delay: -1.4166666667s;
      animation-delay: -1.4166666667s;
      -webkit-transform: rotate(120deg) translate(0, -150%);
      transform: rotate(120deg) translate(0, -150%);
    }

    .ispinner .ispinner__blade:nth-child(5) {
      -webkit-animation-delay: -1.3333333333s;
      animation-delay: -1.3333333333s;
      -webkit-transform: rotate(150deg) translate(0, -150%);
      transform: rotate(150deg) translate(0, -150%);
    }

    .ispinner .ispinner__blade:nth-child(6) {
      -webkit-animation-delay: -1.25s;
      animation-delay: -1.25s;
      -webkit-transform: rotate(180deg) translate(0, -150%);
      transform: rotate(180deg) translate(0, -150%);
    }

    .ispinner .ispinner__blade:nth-child(7) {
      -webkit-animation-delay: -1.1666666667s;
      animation-delay: -1.1666666667s;
      -webkit-transform: rotate(210deg) translate(0, -150%);
      transform: rotate(210deg) translate(0, -150%);
    }

    .ispinner .ispinner__blade:nth-child(8) {
      -webkit-animation-delay: -1.0833333333s;
      animation-delay: -1.0833333333s;
      -webkit-transform: rotate(240deg) translate(0, -150%);
      transform: rotate(240deg) translate(0, -150%);
    }

    .ispinner .ispinner__blade:nth-child(9) {
      -webkit-animation-delay: -1s;
      animation-delay: -1s;
      -webkit-transform: rotate(270deg) translate(0, -150%);
      transform: rotate(270deg) translate(0, -150%);
    }

    .ispinner .ispinner__blade:nth-child(10) {
      -webkit-animation-delay: -0.9166666667s;
      animation-delay: -0.9166666667s;
      -webkit-transform: rotate(300deg) translate(0, -150%);
      transform: rotate(300deg) translate(0, -150%);
    }

    .ispinner .ispinner__blade:nth-child(11) {
      -webkit-animation-delay: -0.8333333333s;
      animation-delay: -0.8333333333s;
      -webkit-transform: rotate(330deg) translate(0, -150%);
      transform: rotate(330deg) translate(0, -150%);
    }

    .ispinner .ispinner__blade:nth-child(12) {
      -webkit-animation-delay: -0.75s;
      animation-delay: -0.75s;
      -webkit-transform: rotate(360deg) translate(0, -150%);
      transform: rotate(360deg) translate(0, -150%);
    }

    .ispinner.ispinner--animating .ispinner__blade {
      -webkit-animation-play-state: running;
      animation-play-state: running;
      will-change: opacity;
    }

    .ispinner.ispinner--white .ispinner__blade {
      background-color: white;
    }

    .ispinner.ispinner--gray .ispinner__blade {
      background-color: #8c8c8c;
    }

    .ispinner.ispinner--large {
      width: 35px;
      height: 35px;
    }

    .ispinner.ispinner--large .ispinner__blade {
      width: 8.5714285714%;
      height: 25.7142857143%;
      border-radius: 50%/16.67%;
    }

    @-webkit-keyframes iSpinnerBlade {
      0% {
        opacity: 0.85;
      }

      50% {
        opacity: 0.25;
      }

      100% {
        opacity: 0.25;
      }
    }

    @keyframes iSpinnerBlade {
      0% {
        opacity: 0.85;
      }

      50% {
        opacity: 0.25;
      }

      100% {
        opacity: 0.25;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <div id="spinner" class="spinner-container">
      <div class="ispinner ispinner--gray ispinner--animating">
        <div class="ispinner__blade"></div>
        <div class="ispinner__blade"></div>
        <div class="ispinner__blade"></div>
        <div class="ispinner__blade"></div>
        <div class="ispinner__blade"></div>
        <div class="ispinner__blade"></div>
        <div class="ispinner__blade"></div>
        <div class="ispinner__blade"></div>
        <div class="ispinner__blade"></div>
        <div class="ispinner__blade"></div>
        <div class="ispinner__blade"></div>
        <div class="ispinner__blade"></div>
      </div>
    </div>
    <div id="container-fastlink"></div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var token = "<%= token %>";
      fastlink.open({
        fastLinkURL: "https://development.node.yodlee.com/authenticate/development-141/?channelAppName=tieredpreprod",
        jwtToken: `Bearer ${token}`,
        params: {},
        onSuccess: function (data) {
        },
        onError: function (data) {
        },
        onExit: function (data) {
          handleExit(data);
        },
        onEvent: function (data) {
           // remove spinner
          var elem = document.querySelector('#spinner');
          elem.style.display = 'none';
        }
      },
        'container-fastlink');
    });

    document.addEventListener("message", function (data) {
      fastlink.close();
    });
    function handleExit() {
      window.postMessage("close");
    }

  </script>
</body>

</html>