<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>Reset password</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<style>
    @font-face {
        font-family: QuantifyBold;
        src: url("/fonts/Quantify-Bold.ttf");
    }

    @font-face {
        font-family: CircularStd-Book;
        src: url("/fonts/CircularStd-Book.otf");
    }

    .card-title {
        font-size: 80px;
        font-family: QuantifyBold;
    }

    label {
        font-family: CircularStd-Book;
    }

    button {
        background-color: #445ee9 !important
    }
</style>

<body>
    <br />
    <div class="container">
        <div class="card">
            <article class="card-body">
                <h1 class="card-title">Harness</h1>
                <form method="POST" action="/auth/changeForgottenPassword">
                    <div class="form-group">
                        <label>New password</label>
                        <input name="password" class="form-control" placeholder="******" type="password" required>
                    </div>
                    <div class="form-group">
                        <label>Confirm password</label>
                        <input class="form-control" placeholder="******" type="password" name="confirmPassword"
                            required>
                    </div>
                    <input type="hidden" name="token" value="<%=token%>" required />

                    <%if (error != "") { %>
                    <div class="alert alert-danger" role="alert">
                        <%=error%>
                    </div>
                    <% } %>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Reset </button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</body>

</html>