<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <title>Reset password</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<style>
</style>

<body>
    <div class="container">
        <div class="main">
            <div class="result-message">
                <h1><%=result%></h1>
            </div>
        </div>

    </div>
</body>

</html>