<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <title>Harness</title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
  <h2>Welcome to Harness</2>
    <h3>Your email <%=email%> verified successfully</h3>
</body>

</html>